<div class="pt-5 pb-2 flex">
    <h2 class="px-4 border-l-4 border-gray-100 shadow bg-gradient-to-r from-blue-400 to-blue-300 text-xl tracking-wide uppercase text-gray-100 font-bold">Dashboard</h2>
</div>
<div class="p-5 bg-gray-100 rounded-lg shadow flex flex-col">
    <h3 class="text-2xl">Hello, {{user.name}}!</h3>
    <div class="flex justify-between">
        <div class="w-5/6 pr-5 flex flex-col">
        {{#each user.posts as |post|}}
            <div class="mb-5">
                {{> dashboardBlogpost this}}
            </div>
        {{/each}}
        </div>
        <div class="w-96 border rounded-lg bg-blue-100 flex flex-col">
            <h4 class="pl-5 pt-5">Write a New Blog</h4>
            {{!-- Form --}}
            <form class="flex flex-col items-start">
                {{!-- Form Title Input --}}
                <div class="form-group px-5 flex">
                    <label for="title-newPost">Blog Title:</label>
                    <input class="form-input h-8" type="text" id="title-newPost" />
                </div>
                {{!-- Form Content --}}
                <div class="px-5 form-group">
                    <label for="content-newPost">Blog Title:</label>
                    <input class="form-input" type="textbox" id="content-newPost" />
                </div>
                <div class="px-5 form-group">
                    <button id="new-post" class="btn btn-primary" type="submit">post</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="../public/js/createPost.js"></script>
