<div class="flex flex-col items-center">
  <h2 class="text-2xl">Sign Up</h2>

  <form class="w-96 my-5 pt-5 pb-10 bg-gray-100 rounded-lg border-1 border-gray-200 shadowform signup-form">
    
    <div class="px-5 form-group">
      <label for="name-signup">name:</label>
      <input class="form-input" type="text" id="name-signup" />
    </div>
    
    <div class="px-5 form-group">
      <label for="email-signup">email:</label>
      <input class="form-input" type="text" id="email-signup" />
    </div>
    
    <div class="px-5 form-group">
      <label for="password-signup">password:</label>
      <input class="form-input" type="password" id="password-signup" />
    </div>
    
    <div class="px-5 form-group">
      <button class="btn btn-primary" type="submit">signup</button>
    </div>
  
  </form>

  <a href="/login">Login Instead</a>
</div>
<script src="/js/signup.js"></script>